*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:1300px) {
   
    article {
        flex-wrap: wrap;
    }
}

body{
    background-color: blueviolet;
    height: 2000px;
}

input#pesquisaInput{
    display: block;
    margin: 20px auto;
    width: 70%;
    padding: 10px;
    font-size: 18px;
    border:2px solid #333333ab ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    overflow: hidden;
    top: 10px;
    right: 30px;
    transition: all .3s ease;
    z-index: 999;
}

/* estilo quando o input "gruda" na tela */
input#pesquisaInput.fixo {
    position: fixed;
    top: 10px;
    left: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.164);
    background-color: white;
    z-index: 999;
    display: block;
    justify-content: center;
}
main{
    
    margin: auto;
    padding: 30px;
    
}
main h1 {
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.288);
    
}    

article{
    display: flex;
    width: 100%;
    
    
}
div.blocos{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    padding-left: 35px;
    flex: 1 1 20px;
    width: 42%;
}
a{
    text-decoration: none;
    color: brown;
}
@media screen and (max-width:450px) {
    div.blocos {
        width: 100%; 
        margin: 8px;
        padding-left: 32px;
        padding-right: 10px;
    }
    input#pesquisaInput{
        width: 85%;
        
    }
    li{
        max-width: 100%;
        white-space: pre-wrap;
    }
    main {
        padding:25px 0;
    }
}
h2{
    
    padding-bottom: 15px;
}

li{
    font:normal 25px arial;
    padding-bottom: 15px;
    text-decoration:underline ;
    text-underline-offset:4px ;
}

