*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    
}

input#buttonTeste {
    margin: auto;
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: flex-start;
}
