*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:1300px) {
   
    article {
        flex-wrap: wrap;
    }
}
body{
    background-color: blueviolet;
}
main{
    
    margin: auto;
    padding: 30px;
    
}
main h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}    
article{
    display: flex;
    width: 100%;
    
    
}
div.blocos{
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    padding-left: 45px;
    flex: 1 1 20px;
    width: 100%;
}
h2{
    
    padding-bottom: 15px;
}
li{
    font:normal 25px arial;
    padding-bottom: 15px;
    text-decoration:underline ;
    text-underline-offset:4px ;
}