*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: blueviolet;
    
}
pre{
    background-color: white;
    line-height: 1.6;
    font-size: 1.1rem;
    width: 50%;
    max-width: 100%;
    margin: auto;
    font-family: 'Courier New', monospace; /* mantém alinhamento das cifras */
    white-space: pre-wrap;
     word-wrap: break-word;  /* quebra palavras longas se necessário */
}
@media screen and (max-width:1830px) {
    pre{
        width: 60%;
    }
}
@media screen and (max-width:1500px) {
    pre{
        width: 60%;
    }
}
@media screen and (max-width:1418px) {
    pre{
        width: 80%;
        
    }
}
@media screen and (max-width:1050px) {
    pre{
        width: 100%;
        line-height: 2;
    }
}


